<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/search.css">
<head>
  <meta charset="UTF-8">
</head>
<body>
<div th:fragment="searchForm">
  <form action="#" method="get" id="search-form" class="search-form">

    <div class="search-field">
      <label for="query" class="search-label">Search by Title:</label>
      <input type="text" id="query" name="query"
             placeholder="Enter recipe title"
             class="search-input"
             th:value="${query}">
    </div>
    <div class="tag-select-field">
      <label for="tags" class="tags-label">Tags:</label>
      <select id="tags" name="tags" multiple="multiple" class="tags-select">
        <option th:each="tag : ${allTags}"
                th:value="${tag}"
                th:text="${tag.getDisplayName()}">
       </option>
     </select>
    </div>


    <div class="selected-tags">
      <h4>Selected Tags:</h4>
      <div id="selected-tags-list">
        <span th:each="selectedTag : ${tag}">
          <div class="selected-tag" th:text="${selectedTag}"></div>
          </span>
      </div>
    </div>


    <button type="submit" class="search-button" id="search_submit">
      Search
    </button>


    <div th:if="${noResultsMessage}" class="no-results-message">
      <p th:text="${noResultsMessage}"></p>
    </div>
  </form>
</div>
</body>
</html>
