/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;

  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  --spacing: 1rem;

  /* Hámarksbreidd á efni */
  --max-width: 1600px;
  --color-primary: #f0f0f8;
  --color-header: #fff;
  --color-text: #000;
  --color-border: #ccc;

  /* Letur stillingar */
  --font-base-body-px: 16px;
  --font-base-size: 1rem;
  --font-family-base: 'Nunito', helvetica, arial, sans-serif;
  --font-family-heading: 'Domine', georgia, serif;


  --color-invalid: #cc1d1d;
  --color-invalid-background: #f8d7da;
}

body {
  font-size: var(--font-base-body-px);
  line-height: 1.5;
  font-family: var(--font-family-base);
  max-width: var(--max-width);
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  max-width: var(--max-width);
  min-width: 500px
}
