<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Site</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/grunnur.css">
    <link rel="stylesheet" href="/css/user-profile.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
<div class="container">
    <div>
        <header>
            <h2 th:text="'Hello, ' + ${user.name} + '!'">Hello, Admin!</h2>
        </header>
        <div class="profile_details">
            <div class="details">
                <p><strong>Admin username:</strong> <span th:text="${user.username}">Username</span></p>
            </div>
            <div class="actions_list">
                <ul>
                    <li><a th:href="@{/admin/addRecipe}">Add Recipe</a></li>
                    <li><a th:href="@{/usersui/{id}/changepassword(id=${user.id})}">Change Password</a></li>
                    <li><a th:href="@{/admin/recipelist}">View all recipes</a></li>
                    <li><a th:href="@{/usersui/favorites}">Featured Recipes</a></li>
                    <li><a th:href="@{/usersui}">Manage users</a></li>
                    <li><a th:href="@{/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
