<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe List</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/grunnur.css">
    <link rel="stylesheet" href="/css/navigation.css">
    <link rel="stylesheet" href="/css/recipes.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>Categories</h1>

<div class="recipe-list-container">
    <ul class="category-list">
        <li th:each="category : ${categories}">
            <a class="category-buttons"
               th:href="@{/allrecipes/byCategory?categories={category}(category=${category})}"
               th:text="${category.getDisplayName()}"
               th:classappend="${selectedCategories != null && selectedCategories.contains(category.name()) ? ' selected' : ''}">
                Category Name
            </a>
        </li>
    </ul>

    <h2>Recipes</h2>

    <form action="#" method="get">
        <label for="sortOptions">Sort by: </label>
        <select id="sortOptions" name="sort">
            <option value="byDate" th:selected="${sort == 'byDate'}">Newest</option>
            <option value="highestRated" th:selected="${sort == 'highestRated'}">Highest Rating</option>
        </select>
        <button type="submit" style="display: none;">Submit</button>
    </form>

    <div th:replace="fragments/recipeCard :: recipeCard"></div>

</div>

<footer>
    <div th:replace="fragments/pagination :: paginationControls(${currentPage}, ${hasPrevious}, ${hasNext})"></div>
</footer>
</body>
</html>
