<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/grunnur.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/contact-password.css">
</head>
<body>
<div class="container">
    <div class="contains">
        <div>
            <h1>Change Password</h1>
            <form th:action="@{'/usersui/' + ${user.id} + '/changepassword'}" method="post">
                <div class="labels">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" th:value="${currentPassword}"/>
                    <p class="contact_error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
                    <br>
                    <div class="labels">
                        <label for="newPassword">New Password:</label>
                        <input type="password" id="newPassword" name="newPassword"/>
                        <br>
                        <div class="labels">
                            <label for="confirmNewPassword">Confirm New Password:</label>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword"/>
                            <p class="contact_error" th:if="${pwMessage}" th:text="${pwMessage}"></p>
                            <br>
                            <button type="submit" class="submit_button">Save Changes</button>
                        </div>
                    </div>
                </div>
            </form>
            <a th:if="${isAdmin}" th:href="@{/admin}" class="back_link">Admin Dashboard</a>
            <a th:if="${isAdmin==false}" th:href="@{/usersui/{id}(id=${user.id})}" class="back_link">Back</a>
        </div>
    </div>
</div>
</body>
</html>

