<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/grunnur.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="container">
    <div class="contains">
        <body>
        <h1>Change Password</h1>
        <form th:action="@{'/usersui/' + ${user.id} + '/changepassword'}" method="post">
            <label for="currentPassword">Current Password:</label>
            <input type="password" id="currentPassword" name="currentPassword" th:value="${currentPassword}"/>
            <p class="contact_error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <br>

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword"/>
            <br>

            <label for="confirmNewPassword">Confirm New Password:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword"/>
            <p class="contact_error" th:if="${pwMessage}" th:text="${pwMessage}"></p>
            <br>
            <button type="submit">Save Changes</button>
        </form>
        <a th:if="${isAdmin}" th:href="@{/admin}">Admin Dashboard</a>
        <a th:if="${!isAdmin}" th:href="@{/}">Back</a>
        </body>
    </div>
</div>
</html>

