<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<head>
    <title>Recipes</title>
</head>
<body>
    <h1 th:text="'Hello, ' + ${name}">Hello, User</h1>
    <p th:text="${message}">Default message</p>

    <h2>Recipes:</h2>
    <ul>
        <li th:each="recipe : ${recipes}">
            <h3 th:text="${recipe.title}">Recipe Name</h3>
            <p th:text="${recipe.description}">Recipe Description</p>
            <img th:src="${recipe.image_url}" alt="Recipe Image">
        </li>
    </ul>
</body>
</html>