<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/login-logout.css">
<link rel="stylesheet" href="/css/grunnur.css">
<head>
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>Login Page</h1>
    <form th:action="@{/login}" method="post">

        <div class="login-form">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"/>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"/>
            <p class="contact_error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
            <br>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>
