<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<head>
    <title>
      Login
    </title>
</head>
<body>
    <h1>Login Page
    </h1>


    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
        <br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <p class="contact_error" th:if="${errorMessage}" th:text="${errorMessage}"></p>
        <br>

        <button type="submit">Login</button>
    </form>
</body>
</html>
