<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/user-profile.css">
<link rel="stylesheet" href="/css/grunnur.css">
<head>
    <title>User Profile</title>
</head>
<body>
<div class="container">
    <div class="profile_page">
        <h1 th:text="'Hello, ' + ${user.name} + '!'">Hello, User!</h1>

        <div class="profile_details">
            <img class="profile_picture"
                 th:src="${user.profilePictureUrl != null ? user.profilePictureUrl : '/images/default-profile.png'}"
                 alt="Profile Picture">
            <div class="details">
                <p><strong>Username:</strong> <span th:text="${user.username}">Username</span></p>
                <p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>
            </div>
        </div>

        <div class="profile_actions">
            <h4>Change Your Profile Picture</h4>
            <form th:action="@{/usersui/{userId}/upload-profile-picture(userId=${user.id})}"
                  method="post" enctype="multipart/form-data">
                <label for="file">Choose a profile picture:</label>
                <input type="file" id="file" name="file" accept="image/*">
                <button type="submit">Upload</button>
            </form>
            <p class="error_message" th:text="${errorMessage}"></p>
            <p class="success_message" th:text="${message}"></p>
        </div>

        <div class="actions_list">
            <ul>
                <li><a th:href="@{'/usersui/' + ${user.id} + '/changepassword'}">Change Password</a></li>
                <li><a th:href="@{/}">All Recipes</a></li>
                <li><a th:href="@{/usersui/favorites}">View Favorites</a></li>
                <li><a th:href="@{/contact}">Contact us</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
