<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/styles.css">
<head>
    <title>User List</title>
</head>
<body>
    <h1>All Users</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- every user-->
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.username}">Username</td>
                <td th:text="${user.email}">user@example.com</td>
                <td>
                    <a th:href="@{'/usersui/' + ${user.id}}">View Profile</a>
                    <form th:action="@{'/usersui/' + ${user.id} + '/delete'}" method="post" style="display: inline;">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>


</body>
</html>
