<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/grunnur.css">
</head>
<body>
<header>
    <h1 th:text="'Hello, ' + ${user.name} + '!'">Hello, User!</h1>
</header>

<section>
    <h3>Profile Details</h3>
    <p><strong>Username:</strong> <span th:text="${user.username}">Username</span></p>
    <p><strong>Email:</strong> <span th:text="${user.email}">Email</span></p>

    <h3>Actions:</h3>
    <ul>
        <li><a th:href="@{'/usersui/' + ${user.id} + '/changepassword'}">Change Password</a></li>
        <li><a th:href="@{/allrecipes/all}">All Recipes</a></li>
        <li><a th:href="@{/usersui/favorites}">View Favorites</a></li>
        <li><a th:href="@{/contact}">Contact us</a></li>
        <li><a th:href="@{/logout}">Logout</a></li>
    </ul>
</section>
</body>
</html>
